body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ddd8d8;
}

.completed {
    text-decoration: line-through;
    color: rgb(252, 7, 7);
}

h1, h2 {
    color: #070707;
}

h1 {
    text-align: center;
}

.agregar-tarea {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 5px;
    font-size: 16px;
}

button {
    background-color: rgb(93, 94, 89);
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
}

.resumen {
    width: 30%;
}

.tabla-tareas {
    width: 65%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #645c5c;
}
